
header {
    background-image: url(../img/pattern.png);
    background-color: #4FA0FF;
}

.logo {
    width: 200px;
    height: 180px;
}

h1{
    margin-top: 10px;
    margin-bottom: 0;
}

.autore {
    margin-bottom: 20px;
}

.nome{
    color: #1FA9E6
}

.data {
    font-size: 11px;
}

.didascalia {
    font-size: 11px;
}

.evidenzia {
    background-color: yellow;
}