
header {
    background-image: url(../img/pattern.png);
    background-color: #4FA0FF;
}

.logo {
    width: 200px;
    height: 180px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 0;
}

.autore {
    margin-bottom: 20px;
}

.nome {
    color: #1FA9E6
}

.data {
    font-size: 11px;
}

.didascalia {
    font-size: 11px;
}

.evidenzia {
    background-color: yellow;
}

ul {
    margin: 0;
    padding: 10px;
}

th {
    color: white;
    background-color: #4FA0FF;
    margin: 0;

}

.testo3 {
    text-align: left;
}

.scuro {
    background-color: #b1e5f2;
}