header {
    background-image: url(../img/pattern.png);
    background-color: #4FA0FF;
    background-size: 30%;
}

.booleaner {
    padding-top: 40px;
    padding-left: 10px;
}

.logo {
    width: 200px;
    height: 100px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 0;
}

.autore {
    margin-bottom: 20px;
    color: #7c7c7c
}

.nome {
    color: #1FA9E6
}

.data {
    font-size: 11px;
}

.didascalia {
    font-size: 11px;
}

.evidenzia {
    background-color: yellow;
}

ul {
    margin: 0;
    padding: 15px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    color: white;
    background-color: #4FA0FF;

}

.intestazione {
    text-align: left;
}

.scuro {
    background-color: #b1e5f2;
}

.correlati {
    color: #7c7c7c;
    font-weight: bold;
    margin-bottom: 10px;
}

.testo {
    color: white;
    font-size: 20px;
    font-weight: bold;
    
}

.opzione1 {
    width: 220px;
    height: 160px;
    background-image: url(../img/monitor.jpg);
    background-size: cover;
    margin-bottom: 20px;
    padding: 10px;
}

.opzione2 {
    width: 220px;
    height: 160px;
    background-image: url(../img/graph.jpg);
    background-size: cover;
    padding: 10px;

}